<div ng-controller="requestCtrl" layout="row" layout-align="center start" ng-init="getACValues()">
    <md-card class="remote-card">
	    <div>
		    <md-card-title>
			    <md-card-title-text>
				    <span class="md-headline">Fan</span>
			    </md-card-title-text>
		    </md-card-title>
	    </div>
	    <md-divider></md-divider>
	    <md-list layout="column">
		    <md-button class="md-raised" ng-click="sendRequest('fan', button.button)" ng-repeat="button in hvac.fan">
			    <p> {{ button.name }} </p>
		    </md-button>
	    </md-list>
    </md-card>
    <md-card class="remote-card">
	    <div>
		    <md-card-title>
			    <md-card-title-text>
				    <span class="md-headline">AC</span>
			    </md-card-title-text>
		    </md-card-title>
	    </div>
	    <md-divider></md-divider>
	    <md-list layout="column">
	       <div class="myListItem" layout-align="space-between center">
		    <md-button class="md-raised" ng-click="sendRequest('ac', 'pwron')">
			    <p> Power On </p>
		    </md-button>
		    <md-button class="md-raised" ng-click="sendRequest('ac', 'pwroff')">
			    <p> Power Off </p>
		    </md-button>
		    </div>
		    <md-subheader>Thermostat Control</md-subheader>
		    <md-list-item class="myListItem" layout-align="space-between center">
		      <md-switch ng-model="acThermo">{{acThermo ? "On" : "Off"}}</md-switch>
		      <md-button class="md-raised" ng-click="setACValues(acThermo, acMax, acMin)">Set</md-button>
		    </md-list-item>
		    <md-list-item class="myListItem"  layout-align="space-between center">
		      <md-input-container>
            <label>Max</label>
		    	  <input class="tempInput" type="text" ng-model="acMax" required>
		    	</md-input-container>
          <md-input-container>
            <label>Min</label>
		    	  <input class="tempInput" type="text" ng-model="acMin" required>
		    	</md-input-container>
        </md-list-item>
	    </md-list>
    </md-card>
</div>
