<div ng-controller="requestCtrl" layout="row" layout-align="center start" ng-init="getACValues()">
    <md-card class="remote-card">
	    <div>
		    <md-card-title>
			    <md-card-title-text>
				    <span class="md-headline">Fan</span>
			    </md-card-title-text>
		    </md-card-title>
	    </div>
	    <md-divider></md-divider>
	    <md-list layout="column">
		    <md-button class="md-raised" ng-click="sendRequest('fan', button.button)" ng-repeat="button in hvac.fan">
			    <p> {{ button.name }} </p>
		    </md-button>
	    </md-list>
    </md-card>
    <md-card class="remote-card">
	    <div>
		    <md-card-title>
			    <md-card-title-text>
				    <span class="md-headline">AC</span>
			    </md-card-title-text>
		    </md-card-title>
	    </div>
	    <md-divider></md-divider>
	    <md-list layout="column">
	       <md-list-item class="myListItem" layout-align="end center">
	       <p><div ng-repeat="v in [0]">
	          <md-switch  ng-model="acPower" ng-click="setACPower(!acPower)">{{acPower ? "Power On" : "Power Off"}}</md-switch>
	       </div></p>
		   </md-list-item>
		    <md-subheader>Thermostat</md-subheader>
		    <md-list-item class="myListItem" layout-align="space-between center">
		    <p><div ng-repeat="v in [0]">
		      <md-switch ng-model="acThermo" ng-click="setACValues(!acThermo, acMax, acMin)">{{acThermo ? "On" : "Off"}}</md-switch>
		    </div></p>
		  <p><md-input-container>
            <label>Max</label>
                <md-select ng-model="acMax" md-on-close="setACValues(acThermo, acMax, acMin)">
                    <md-option ng-repeat="temp in hvac.temps">
                    {{::temp}}
                    </md-option>
                </md-select>
		  </md-input-container></p>
          <p><md-input-container>
            <label>Min</label>
		    	   <md-select ng-model="acMin"md-on-close="setACValues(acThermo, acMax, acMin)">
                    <md-option ng-repeat="temp in hvac.temps">
                    {{::temp}}
                    </md-option>
                </md-select>
		  </md-input-container></p>
        </md-list-item>
	    </md-list>
    </md-card>
</div>
