<div ng-controller="requestCtrl" layout="row" layout-align="center start">
    <md-card class="remote-card">
	    <div>
		    <md-card-title>
			    <md-card-title-text>
				    <span class="md-headline">Ceiling</span>
			    </md-card-title-text>
		    </md-card-title>
		    <md-divider></md-divider>
	    </div>
	    <div flex>
		    <md-list layout="column">
			    <md-button class="md-raised" ng-click="sendRequest('ceiling', light.button)" ng-repeat="light in lights.ceiling">
				    <p>{{ light.name }}</p>
			    </md-button>
		    </md-list>
	    </div>
    </md-card>
    <md-card class="remote-card">
	    <div>
		    <md-card-title>
			    <md-card-title-text>
				    <span class="md-headline">Hue</span>
			    </md-card-title-text>
		    </md-card-title>
	    </div>
	    <md-divider></md-divider>
	    <md-list layout="column">
		    <md-button class="md-raised" ng-click="sendRequest('hue', light.button)" ng-repeat="light in lights.hue">
			    <p> {{ light.name }} </p>
		    </md-button>
	    </md-list>
    </md-card>
</div>
